:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --negro-uno: #262626;
  --negro-dos: #151515;
  --negro-tres: #1C1C1C;

  --rojo-uno: #8C0303;
  --rojo-dos: #F20505;
  --rojo-tres: #400106;
  --rojo-tres-dos: #530108;

  --verde-uno: #02A630;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('./fonts/LexendDeca-Regular.ttf');
  /* font-style: normal; */
  font-weight: 500;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url('./fonts/LexendDeca-Bold.ttf');
  font-style: bold;
  font-weight: bold;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url('./fonts/LexendDeca-Light.ttf');
  /* font-style: normal; */
  font-weight: 300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */

  overflow-x: hidden;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}

body {
  color: black;
  background: var(--negro-uno);
}



.nav-bar{
  background-color: var(--rojo-uno);
  color: white;
  /* width: 100vw; */
  height: 8vh;
  display: flex;
  align-items: center;
  position: relative;
}

.cinecine{
  position: absolute;
  /* left: 20vw; */
  left: 2rem;
}

.info{
  position: absolute;
  right: 5rem;
}
