.main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 60vw; */
  width: 52vw;
  margin: auto;
}

.portada{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-items: flex-start;
  flex-direction: column;
}

.cartelEstrenos{
  position: relative;
  font-size: 2rem;
  margin-top: 2rem;
  color: white;
}

.carrusel{
  /* border: solid white 1px; */
  /* width: 60vw; */
  height: 30rem;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenedorImgIndividual{
  width: 100%;
  height: auto;
  position: relative;
  right: 0%;
  top: 0rem;
  animation: carruselAnim alternate infinite 15s;
  display: flex;
  align-items: center;
}

@keyframes carruselAnim {
  0%, 30% {
    right: 0%;
  }
  35%, 65% {
    right: 100%;
  }
  70%, 100% {
    right: 200%;
  }
}

.portadaImg{
  width: 100%;
  height: auto;
  position: relative;
  animation: portadaAnim cubic-bezier(0.43, -0.01, 0, 0.6) infinite 10s;
  /* right: 0%; */
  /* animation-delay: 1s; */
}

@keyframes portadaAnim {
  0%{
    top: -2rem;
  }
  60%{
    top: -5rem;
  }
  100%{
    top: -2rem;
  }
}

.carruselCompra{
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 1rem;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.comprarCarruselNombre{
  color: white;
  margin-right: 2rem;
  margin-left: 0rem;
}
.comprarCarruselBoton{
  text-decoration: none;
  color: white;
  border: solid 1px white;
  padding: 6px 10px;
  background-color: #02a63020;
}
.comprarCarruselBoton:hover{
  background-color: #02a63040;
}

.configContenedor{
  width: 100vw;
  /* width: 100%; */
  height: auto;
  background-color: var(--negro-dos);
  /* margin: 5rem -20vw; */
  margin-top: 2rem;
}

.config{
  display: flex;
  justify-content: flex-end;
  /* margin-right: 20vw; */
  /* margin: 1.8rem 20vw 1.8rem 0; */
  margin: 1.8rem 24.5vw 1.8rem 0;
}

.config div{
  margin-left: 1.2rem;
}

.config button{
  border: none;
  background-color: var(--rojo-tres);
  color: white;
  font-size: 0.7rem;
  padding: 5px 16px;

  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.config button:hover{
  background-color: var(--rojo-tres-dos);
}
.config button.activado{
  background-color: var(--rojo-dos);
  cursor: auto;
}

.config button:first-child{
  border-radius: 5px 0px 0px 5px;
}
.config button:last-child{
  border-radius: 0px 5px 5px 0px;
}
.botonSoloEstrenos button:first-child{
  border-radius: 5px;
}
.verTodas button:first-child{
  border-radius: 5px;
  cursor: pointer;
}
.verTodas button.activado:first-child{
  cursor: auto;
}
.botonesPEGI button:first-child{
  border-radius: 5px;
}


.botonesPEGI{

}

.botonesDimensiones{

}

.botonesIdioma{

}

.botonSoloEstrenos{

}

.verTodas{

}

.buscador{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
}

.inputBuscador{
  border: none;
  width: 100%;
  text-align: end;
  background-color: var(--negro-tres);
  color: white;
  padding-right: 2rem;
  border-radius: 8px;
}

.peliculaNoEncontrada{
  color: white;
}


.funciones{
  /* width: 100%; */
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-top: 2rem;
}

.posterContenido{
  /* margin: 2rem;   */
  transition: linear 0.05s;
  position: relative;

  top: 0;
  opacity: 1;
  /* animation: posterContenido linear 0.2s; */
}
.posterContenido:hover{
  transform: scale(1.1);
  filter: drop-shadow(-4px 5px 10px rgba(0, 0, 0, 0.6));

  /* box-shadow: 0 0 15px green;
  background: rgba(6, 197, 6, 0.2);
  padding: 1rem; */

  /* border: var(--verde-uno) solid 1px;
  padding: 1rem; */

  /* filter: drop-shadow(-4px 5px 10px rgba(0, 128, 0, 0.5)); */
}

/* @keyframes posterContenido {
  0%{ top: -1rem; opacity: 0;};100%{top: 0; opacity: 1;};
} */

.posterIndividual{

}

.postImgTemp{
  width: 100%;
  height: auto;
}
.postImgTemp:hover{
  border: green solid 3px;
}
/* .postImgTemp:hover{
  transform: scale(1.1);
} */

.nombrePelicula{
  color: white;
  /* white-space: nowrap; */
}


/* max-width: 960px */
@media screen and (max-width: 1280px) {
    .main{
      width: 80vw;
    }
    
    .carrusel{
      margin-top: 2.5rem; 
    }

    .config{
      margin: 1.8rem 11vw 1.8rem 0;
    }

    .config div{
      margin-left: 1rem;
    }
    
    .config button{
      font-size: 0.7rem;
      padding: 5px 10px;
    }

    .funciones{
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 720px){
  .portada{
    width: 130%;
  }

  .cartelEstrenos{
    position: relative;
    left: 3rem;
    margin: 1rem;
  }

  .carrusel{
    margin-top: 0rem; 
  }

  .config{
    margin: 1.8rem 11vw 1.8rem 1.8rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }

  .config button{
    padding: 5px 8px;
    /* margin: 0rem 0.2rem; */
    font-size: 0.5rem;
  }

  .config div{
    margin-left: 0.3rem;
  }

  .configContenedor{
    margin-top: 0rem; 
  }

  .funciones{
    grid-template-columns: repeat(2, 1fr);
  }
}