.seccionCompra{
    display: flex;
    justify-content: center;
    position: relative;

    top: 0rem;
    opacity: 1;
    animation: seccionCompraAnim .3s cubic-bezier(1, 1, 1, 1);
}
@keyframes seccionCompraAnim {
    0%{opacity: 0; top: -5rem;};100%{opacity: 1; top: 0rem;}
}

.sinFuncion{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.cajaCompra{
    margin-top: 6vh;
    width: 65vw;
    height: 75vh;
    background-color: var(--negro-dos);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.contenidoCaja{
    display: flex;
    width: 100%;
    height: 100%;
}

.imagenCaja{
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    width: 190%;
    height: auto;
}

.infoFuncionCaja{
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.headerCompra{
    margin-top: 2rem;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2.2rem;
    white-space: nowrap;
}

.titulo::after{
    content: '';
    position: absolute;
    bottom: -0.7rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--rojo-uno);
}

.preCompra{
    font-family: 'Lexend Deca';
    font-weight: 500;
}
.preCompra.preCompraDesactivada{
    display: none;
}

.informacionContenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.diasContenedor{
    display: flex;
}

.dias{

}

.diasIndividuales{
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.diasIndividuales:hover{
    background-color: rgb(49, 14, 14);
}

.horariosContenedor{
    margin-top: 0.2rem;
    text-align: start;
    padding: 0.2rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.horarios{
    margin: 0.5rem 0;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    /* padding: 0.2rem 1rem 0.2rem 0.3rem; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}
.horarios:hover{
    background-color: rgb(49, 14, 14);
}

.detallesContenedor{
    /* text-align: end; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.detalles{
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
    background-color: black;
    cursor: pointer;
}
.detalles:hover{
    background-color: rgb(49, 14, 14);
}

.detalles3d{
    /* color: rgb(167, 167, 167);
    background-color: rgb(83, 83, 83); */

}

.seleccionado{
    background-color: var(--rojo-uno);
}
.seleccionado:hover{
    background-color: var(--rojo-uno);
}

.detallesInhabilitado{
    color: rgb(167, 167, 167);
    background-color: rgb(83, 83, 83);
}
.detallesInhabilitado:hover{
    color: rgb(167, 167, 167);
    background-color: rgb(83, 83, 83);
    cursor: default;
}

.detallesPEGI{
    border: solid 1px rgb(139, 139, 139);
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    cursor: default;
}

.detallesPEGI:hover{
    background-color: rgba(0, 0, 0, 0);
}


.footerCompra{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.footerCompra.footerCompraDesactivada{
    display: none;
}

.sinopsis{
    margin-bottom: 1.5rem;

}

.botonVolver{
    text-decoration: none;
    color: white;
}

.cantidadContenedor{
    display: flex;
    position: relative;
    /* justify-content: flex-end; */
    justify-content: space-around;
    align-items: center;
}

.elegirCantidadContenedor{
    margin-left: 1.5rem;   
}

.botonComprarContenedor{
    margin-left: 1.5rem;
}

.botonCambiarCantidad{
    padding: 0.3rem;
    margin: 0.2rem;
    background-color: var(--rojo-uno);
    border: none;
    cursor: pointer;
}

.elegirCantidadContenedor{
    display: flex;
    align-items: center;
}

.botonIzquierda{
    border-radius: 20px 0 0 20px;    
}
.botonDerecha{
    border-radius: 0 20px 20px 0;
}

.cantidadNumero{
    color: black;
    background-color: rgb(209, 209, 209);
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: default;
    text-align: center;
}

.botonComprar{
    background-color: var(--verde-uno);
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.botonComprar:hover{
    background-color: #04c93b;
}

.botonInhabilitado{
    background-color: gray;
    cursor: default;
}
.botonInhabilitado:hover{
    background-color: gray;
    cursor: default;
    cursor: no-drop;
}
.botonComprar.botonInhabilitado:hover::after{
    content: 'Elegí un horario';
    position: absolute;
    background-color: rgba(128, 128, 128, 0.3);
    /* border: solid 1px white; */
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    font-weight: 100;
    top: -2rem;
    right: 1rem;
}

/* ------------- CONFIRMACION ------------- */

.confirmaciónContenedor{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmacionCaja{
    width: 40%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;

    background-color: rgba(31, 1, 3, 0.8);
    border: solid 1px white;
    border-radius: 10px;
    color: white;
}

.botonesConfirmacion{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.botonConfirmacion{
    /* margin: auto 1rem; */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.botonesConfirmacionVolver{
    text-decoration: underline;
}
.botonesConfirmacionVolver:hover{
    background-color: rgb(97, 2, 9);
}

.botonesConfirmacionConfirmar{
    background-color: var(--verde-uno);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
}
.botonesConfirmacionConfirmar:hover{
    background-color: #04c93b;
}


/* ------------- COMPRA CONFIRMADA ------------- */

.compraConfirmadaContenedor{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--negro-dos); */
    /* background-color: green; */
    width: 100%;
    height: 86%;
    bottom: 0;
    right: 0;
}

.compraConfirmadaContenido{
    /* margin: 5rem; */
    position: relative;
    top: -10%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.compraConfirmadaTexto h4{
    font-size: 1.5rem;
}
.compraConfirmadaTexto p{
    margin: 2rem 0rem;
}
.compraConfirmadaTexto p span{
    color: var(--verde-uno);
}

.compraConfirmadainicio{
    border: none;
    background-color: #00000000;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}

@media screen and (max-width: 1370px){
    .contenidoCaja{
        display: flex;
        justify-content: flex-end;
    }

    .infoFuncionCaja{
        width: 65%;
    }

    .titulo{
        font-size: 2rem;
    }

    .imagenCaja{
        width: 35%;
    }

    .imagen{
        width: 500%;
    }

    .confirmacionCaja{
        width: 70%;
        height: 20%;
    }

    .compraConfirmadaContenedor{
        /* height: 93%; */
    }
}

@media screen and (max-width: 1100px){
    .titulo{
        font-size: 1.2rem;
    }

    .imagenCaja{
        width: 35%;
        position: relative;
        left: 3rem;
    }

    .imagen{
        width: 800%;
    }

    .compraConfirmadaContenedor{
        height: 89%;
    }
}

@media screen and (max-width: 800px){
    .cajaCompra{
        margin-top: 3vh;
        width: 90vw;
        height: 85vh;
    }

    .contenidoCaja{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    .headerCompra{
        margin-top: 1rem;
    }

    .infoFuncionCaja{
        width: 100%;
        height: 70%;
    }

    .informacionContenedor{
        display: flex;
        justify-content: space-around;
        margin: 1.4rem 2rem;
    }

    .horariosContenedor{
        /* margin-top: 0; */
    }

    .sinopsis{
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .footerCompra{
        margin-bottom: 3rem;
    }

    .imagenCaja{
        width: 100%;
        height: 30%;
        position: relative;
        left: 0rem;
    }
}